:root {
    --animate-duration: 325ms !important;
}

.board {
    display: flex;
    padding: 10px;

    & .add_list_wrapper {
        height: fit-content;

        & .add_list {
            background: #e9e9e9;
            border-radius: 8px;
            padding: 8px;
            width: 256px;
            margin-right: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

            & input {
                padding: 8px;
                border-radius: 8px;
                border: none;
                width: calc(100% - 24px);
                margin-bottom: 10px;
                font-size: 0.9em;

                &:focus {
                    outline: 2px solid lightblue;
                }
            }

            & .buttons {
                display: flex;
                gap: 10px;

                & .save {
                    font-size: 0.9em;
                    background: lightblue;
                    border: none;
                    border-radius: 8px;
                    padding: 8px;
                    cursor: pointer;
                }

                & .cancel {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background: none;
                    font-size: 1.3em;
                    cursor: pointer;

                    & ion-icon {
                        font-size: 1.2em;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    & .add_list_btn {
        position: absolute;
        height: fit-content;
        background: #e9e9e9;
        font-size: 0.9em;
        transition: background 0.225s ease;
        width: 272px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        &:hover,
        &:focus {
            outline: none;
            background: #d2d2d2;
        }
    }

    & .list {
        background: #e9e9e9;
        border-radius: 8px;
        width: 272px;
        min-width: 272px;
        padding: 8px 0;
        height: fit-content;
        margin-right: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        &:focus-visible {
            outline: 2px solid lightblue;
        }

        & header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 8px;

            & input {
                padding: 4px 8px;
            }

            & .name {
                margin: 0;
                padding: 4px;
                font-size: 1em;
                font-weight: 500;
                line-height: 30px;
                border-radius: 8px;
                width: 100%;
                border: none;

                &:focus {
                    outline: 2px solid lightblue;
                }
            }

            & .action {
                position: relative;
                margin-left: 5px;

                & .action_btn {
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.15em;
                    position: relative;
                    padding: 8px;
                    border-radius: 50%;
                    transition: all 0.225s ease;

                    &:hover,
                    &:focus {
                        outline: none;
                        background: #d2d2d2;
                    }
                }
            }
        }

        & .card_container {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 10px 0 0 0;
            padding: 0 8px;
            list-style: none;

            & .card {
                position: relative;
                width: 240px;
                border-radius: 8px;
                background: #fff;
                padding: 8px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                cursor: grab;
                list-style: none;
                margin-bottom: 10px;

                &:focus-visible {
                    outline: 2px solid lightblue;
                }

                & .content {
                    margin: 0;
                    font-size: 0.9em;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    word-break: break-word;
                    white-space: pre-wrap;
                }

                & .edit {
                    position: absolute;
                    top: 7px;
                    right: 5px;
                    display: block;
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 5px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    transition: all 0.225s ease;

                    &:hover {
                        background: rgba(226, 226, 226, 0.5);
                    }
                }

                &:hover {
                    & .content {
                        width: 90%;
                    }

                    & .edit {
                        display: flex;
                    }
                }
            }

            & .add_card_btn {
                position: absolute;
                bottom: 0;
                width: 256px;

                & button {
                    background: transparent;
                    transition: all 0.225s ease;

                    &:hover,
                    &:focus {
                        outline: none;
                        background: #d2d2d2;
                    }
                }
            }

            & .add_card {
                position: relative;
                font-size: 0.9em;
                border-radius: 8px;
                margin-bottom: 10px;

                & textarea {
                    top: 0;
                    position: absolute;
                }

                &:focus-visible {
                    outline: 2px solid lightblue;
                }

                & .buttons {
                    width: 100%;
                    position: absolute;
                    bottom: -1px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    transition: opacity 0.225s ease;
                    opacity: 1;
                    height: 40px;

                    & .save {
                        transition: all 0.225s ease;
                        background: lightblue;

                        &:hover,
                        &:focus {
                            outline: none;
                            background: #8ac7db;
                        }
                    }

                    & .cancel {
                        flex-grow: 1;

                        & button {
                            transition: all 0.225s ease;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            background: none;
                            font-size: 1.3em;
                            cursor: pointer;
                            padding: 8px;
                            border-radius: 50%;

                            & ion-icon {
                                font-size: 1.2em;
                                transform: rotate(45deg);
                            }

                            &:hover,
                            &:focus {
                                outline: none;
                                background: #d2d2d2;
                            }
                        }
                    }

                    & .options {
                        position: relative;

                        & .option_btn {
                            transition: all 0.225s ease;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: none;
                            border: none;
                            font-size: 1.3em;
                            cursor: pointer;
                            padding: 8px;
                            border-radius: 50%;

                            &:hover,
                            &:focus {
                                outline: none;
                                background: #d2d2d2;
                            }
                        }
                    }
                }
            }
        }
    }
}

.card_editor_overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;

    & .cancel {
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        font-size: 1.5em;
        color: white;
        cursor: pointer;

        & ion-icon {
            font-size: 1.5em;
            transform: rotate(45deg);
        }
    }

    & .editor {
        position: absolute;
        display: flex;
        gap: 10px;

        & .card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
            font-size: 0.9em;

            & textarea:focus {
                outline: 2px solid lightblue;
            }

            & button {
                background: lightblue;
                width: fit-content;

                &:hover,
                &:focus {
                    outline: none;
                    background: #8ac7db;
                }
            }
        }

        & .actions {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & button {
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                transform: translate(0, 0);
                transition: transform 0.225s ease;

                &:hover,
                &:focus {
                    outline: none;
                    transform: translate(10px, 0);
                }
            }
        }
    }
}

.pulse {
    animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

.modal_overlay {
    position: fixed;
    inset: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    overflow-y: auto;
    justify-content: center;
    padding: 48px;

    & .modal {
        height: fit-content;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 12px 24px;
        width: 768px;

        & .title {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            & ion-icon {
                font-size: 1.5em;
                margin-top: 3px;
            }

            & .main {
                flex-grow: 1;

                & p {
                    font-size: 0.9em;
                    margin: 0;

                    &.name {
                        font-size: 1.2em;
                        font-weight: 500;
                    }
                }
            }

            & .cancel {
                border: none;
                background: none;
                font-size: 1.5em;
                cursor: pointer;

                & ion-icon {
                    font-size: 1.2em;
                    transform: rotate(45deg);
                }
            }
        }

        & .modal_content {
            width: 100%;
            margin-top: 25px;
            display: flex;
            gap: 20px;
            align-items: flex-start;

            & .title {
                align-items: center;
                margin-bottom: 10px;

                & .main p.name {
                    font-size: 1em;
                }

                & button {
                    font-size: 0.9em;
                    background: #e9e9e9;

                    &:hover,
                    &:focus {
                        outline: none;
                        background: #d2d2d2;
                    }
                }
            }

            & .main_content {
                width: 75%;
                display: flex;
                flex-direction: column;
                gap: 30px;

                & .description .content {
                    padding-left: 45px;

                    & .add_description {
                        transition: all 0.225s ease;
                        background: #e9e9e9;
                        border: none;
                        border-radius: 8px;
                        width: 100%;
                        text-align: left;
                        padding: 8px;
                        cursor: pointer;
                        height: 70px;
                        display: flex;
                        align-items: flex-start;

                        & p {
                            margin: 0;
                            font-size: 1.05em;
                        }

                        &:hover,
                        &:focus {
                            outline: none;
                            background: #d2d2d2;
                        }
                    }

                    & .description_form {
                        & textarea {
                            height: 69px;
                            box-shadow: none;
                            width: calc(100% - 22px);
                            font-size: 0.9em;
                            border: 3px solid lightblue;

                            &:focus {
                                outline: none;
                            }
                        }

                        & .actions {
                            display: flex;
                            align-items: center;

                            & .save {
                                background: lightblue;
                                font-size: 0.9em;
                            }

                            & .cancel {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: none;
                                background: none;
                                font-size: 1.3em;
                                cursor: pointer;

                                & ion-icon {
                                    font-size: 1.2em;
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }

                    & .description_container {
                        margin: 0;
                        width: 100%;
                        white-space: pre-wrap;
                        word-break: break-all;
                        font-size: 0.9em;
                    }
                }

                & .activity .content {
                    & .text_field {
                        display: flex;
                        gap: 5px;
                        transition: all 0.225s ease;

                        & img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        & .comment_form {
                            flex-grow: 1;
                            border-radius: 8px;
                            position: relative;
                            overflow: hidden;

                            & textarea {
                                width: calc(100% - 20px);
                                box-shadow: none;
                                height: 69px;
                                border: 2px solid #e9e9e9;
                                background: #f6f6f6;
                                font-size: 0.9em;
                            }

                            & .actions {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 0.9em;
                                padding: 0px 8px;
                                transform: translate(0, -52px);

                                & .save {
                                    background: lightblue;

                                    &:disabled,
                                    &[disabled] {
                                        background: #e9e9e9;
                                        cursor: default;

                                        &:hover {
                                            background: #e9e9e9;
                                        }
                                    }
                                }

                                & .comment_options {
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;

                                    & button {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        background: transparent;
                                        padding: 8px;
                                        border: none;
                                        border-radius: 50%;
                                        font-size: 1.1em;
                                        cursor: pointer;

                                        &:hover,
                                        &:focus {
                                            outline: none;
                                            background: #e9e9e9;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & .actions_list {
                width: 25%;

                & .module {
                    margin-top: 5px;
                    margin-bottom: 20px;

                    & .module_title {
                        font-size: 0.9em;
                        font-weight: 500;
                        margin: 0;
                        margin-bottom: 10px;
                    }

                    & .module_list {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        & .module_action {
                            & button {
                                background: #e9e9e9;

                                &:hover,
                                &:focus {
                                    outline: none;
                                    background: #d2d2d2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
