.board {
    display: flex;
    padding: 10px;

    & .add_list {
        background: #e9e9e9;
        border-radius: 8px;
        padding: 8px;
        width: 256px;
        margin-right: 10px;

        & input {
            padding: 8px;
            border-radius: 8px;
            border: none;
            width: calc(100% - 24px);
            margin-bottom: 10px;
            font-size: 0.9em;

            &:focus {
                outline: 2px solid lightblue;
            }
        }

        & .buttons {
            display: flex;
            gap: 10px;

            & .save {
                font-size: 0.9em;
                background: lightblue;
                border: none;
                border-radius: 8px;
                padding: 8px;
                cursor: pointer;
            }

            & .cancel {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                background: none;
                font-size: 1.3em;
                cursor: pointer;

                & ion-icon {
                    font-size: 1.2em;
                    transform: rotate(45deg);
                }
            }
        }
    }

    & .add_list_btn {
        position: absolute;
        height: fit-content;
        background: #ffffff3d;
        font-size: 0.9em;
        transition: all 0.225s ease;
        width: 272px;

        &:hover {
            background: #ffffff52;
        }
    }

    & .list {
        background: #e9e9e9;
        border-radius: 8px;
        width: 272px;
        min-width: 272px;
        padding: 8px 0;
        height: fit-content;
        margin-right: 10px;

        & header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 8px;

            & input {
                padding: 4px 8px;
            }

            & .name {
                margin: 0;
                padding: 4px;
                font-size: 1em;
                font-weight: 500;
                line-height: 30px;
                border-radius: 8px;
                width: 100%;
                border: none;

                &:focus {
                    outline: 2px solid lightblue;
                }
            }

            & .action {
                position: relative;
                margin-left: 5px;

                & .action_btn {
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1em;
                    position: relative;
                }
            }
        }

        & .card_container {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 10px 0 0 0;
            padding: 0 8px;
            list-style: none;

            & .card {
                position: relative;
                width: 240px;
                border-radius: 8px;
                background: #fff;
                padding: 8px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                cursor: grab;
                list-style: none;
                margin-bottom: 10px;

                & .content {
                    margin: 0;
                    font-size: 0.9em;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    word-break: break-word;
                    white-space: pre-wrap;
                }

                & .edit {
                    position: absolute;
                    top: 7px;
                    right: 5px;
                    display: block;
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 5px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    &:hover {
                        background: rgba(226, 226, 226, 0.5);
                    }
                }

                &:hover {
                    & .content {
                        width: 90%;
                    }

                    & .edit {
                        display: flex;
                    }
                }
            }

            & .add_card_btn {
                position: absolute;
                bottom: 0;
                width: 256px;

                & button:hover {
                    background: #d2d2d2;
                }
            }

            & .add_card {
                position: relative;
                font-size: 0.9em;
                border-radius: 8px;
                margin-bottom: 10px;

                & textarea {
                    margin-bottom: 40px;
                }

                & .buttons {
                    width: 240px;
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    transition: opacity 0.225s ease;
                    opacity: 1;
                    height: 40px;

                    & .save {
                        background: lightblue;
                    }

                    & .cancel {
                        flex-grow: 1;

                        & button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            background: none;
                            font-size: 1.5em;
                            cursor: pointer;

                            & ion-icon {
                                font-size: 1.2em;
                                transform: rotate(45deg);
                            }
                        }
                    }

                    & .options {
                        position: relative;

                        & .option_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: none;
                            border: none;
                            cursor: pointer;

                            & ion-icon {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }
    }
}

.card_editor_overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;

    & .cancel {
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        font-size: 1.5em;
        color: white;
        cursor: pointer;

        & ion-icon {
            font-size: 1.5em;
            transform: rotate(45deg);
        }
    }

    & .editor {
        position: absolute;
        display: flex;
        gap: 10px;

        & .card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
            font-size: 0.9em;

            & textarea:focus {
                outline: 2px solid lightblue;
            }

            & button {
                background: lightblue;
                width: fit-content;
            }
        }

        & .actions {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & button {
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                transform: translate(0, 0);
                transition: transform 0.225s ease;

                &:hover {
                    transform: translate(10px, 0);
                }
            }
        }
    }
}
