.board {
    display: flex;
    padding: 10px;

    & .list {
        background: #e9e9e9;
        border-radius: 8px;
        width: 256px;
        padding: 8px;
        height: fit-content;
        margin-right: 10px;

        & header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;

            & .name {
                margin: 0;
                font-size: 1em;
                font-weight: 500;
            }

            & .action {
                position: relative;

                & .action_btn {
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1em;
                    position: relative;
                }

                & .action_dropdown {
                    z-index: 1000;
                    position: absolute;
                    width: 256px;
                    background: #fff;
                    padding: 8px;
                    border-radius: 8px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    top: 20px;
                    left: 0;

                    & header {
                        position: relative;
                        height: 30px;
                        padding: 0;

                        & .title {
                            width: 100%;
                            margin: 0;
                            text-align: center;
                        }

                        & .close_btn {
                            position: absolute;
                            background: none;
                            border: none;
                            font-size: 1.4em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 50%;
                            right: 0;
                            transform: translate(0, -50%);
                            cursor: pointer;

                            & ion-icon {
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }

        & .card_container {
            display: flex;
            flex-direction: column;
            margin: 10px 0 0 0;
            padding: 0;
            list-style: none;
        }

        & footer .add_card {
            display: flex;
            gap: 10px;
            justify-content: flex-start;
            align-items: center;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 8px;
            font-size: 0.9em;
            border-radius: 8px;
            width: 100%;

            & p {
                margin: 0;
            }

            &:hover {
                background: #d2d2d2;
            }
        }
    }
}

.card {
    position: relative;
    width: 240px;
    border-radius: 8px;
    background: #fff;
    padding: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: grab;
    list-style: none;
    margin-bottom: 10px;

    & .content {
        margin: 0;
        font-size: 0.9em;
    }
}
