/*
  Dropdown
*/
.dropdown_wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  width: 225px;
  border-radius: 8px;
  padding: 12px;
  background-color: var(--background1);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  animation-duration: 0.225s !important;
}

.dropdown_action_wrapper {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.dropdown_action {
  display: block;
  cursor: pointer;
  width: 100%;
  font-size: 0.9em;
  border-radius: 8px;
  padding: 8px;
  text-align: left;
  background-color: transparent;
  border-style: none;
  transition: background 0.225s ease;
  text-decoration: none;
  color: var(--text1);

  &_icon {
    margin-right: 12px;
  }

  &:hover,
  &:focus-within {
    outline: none;
    background-color: rgba(83, 82, 237, 0.3);
  }
}

/*
  Modal
*/
.modal_overlay {
  position: fixed;
  inset: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1020;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  animation-duration: 0.225s !important;

  &.hidden {
    animation-duration: 0.225s !important;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  min-width: 300px;
  height: fit-content;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 12px;
  animation-duration: 0.225s !important;
}

.modal_header {
  position: relative;
  width: 100%;
  padding: 0 32px 8px;
  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  margin-bottom: 8px;
}

.modal_header_title {
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}

.modal_close_btn {
  position: absolute;
  top: -4px;
  right: -8px;
  border-style: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background-color: transparent;
  cursor: pointer;
  transition: background 0.225s ease;

  &:hover,
  &:focus-within {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/*
  Checkbox toggle switch
*/
.checkbox_container {
  margin: 0 auto;
}

.checkbox_switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 45px;
}

.slider_input {
  display: none;
}

.checkbox_slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.checkbox_slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 18px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
}

.slider_input:checked + .checkbox_slider {
  background-color: rgba(39, 174, 96, 1);
}

.slider_input:checked + .checkbox_slider:before {
  transform: translateX(21px);
}

.checkbox_slider.round {
  border-radius: 34px;
}

.checkbox_slider.round:before {
  border-radius: 50%;
}

/*
  Form
*/
.form {
  display: flex;
  flex-wrap: wrap;
}

.form_title {
  font-size: 1.15em;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 12px;
}

.form_subtitle {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 12px;
}

.form_error {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  color: rgba(231, 76, 60, 1);
  font-size: 0.9em;
}

.form_field_wrapper {
  position: relative;
  margin-top: 1rem;
  margin-right: 8px;
  width: calc(50% - 8px);

  &:last-child {
    margin-left: 8px;
  }

  &.full_width {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  &.success .form_field_label,
  &.success .form_field_hint {
    color: rgba(39, 174, 96, 1);
  }

  &.success .form_field {
    border: 2px solid rgba(39, 174, 96, 0.3);
    background-color: rgba(39, 174, 96, 0.05);
  }

  &.error .form_field_label,
  &.error .form_field_hint {
    color: rgba(231, 76, 60, 1);
  }

  &.error .form_field {
    border: 2px solid rgba(231, 76, 60, 0.3);
    background-color: rgba(231, 76, 60, 0.05);
  }
}

.form_field_hint {
  font-weight: 400;
  font-size: 0.6875rem;
  color: #a6a6a6;
  display: block;
  margin-top: 4px;
  margin-left: 4px;
  transition: color 0.225s ease;
}

.form_password_field_hints_wrapper {
  min-width: 260px;
  position: absolute;
  z-index: 101;
  bottom: 58px;
  right: 0;
  background-color: #2f3542;
  padding: 24px 16px;
  border-radius: 8px;
  color: #fff;
  font-size: 0.9em;
  animation-duration: 0.5s !important;

  &.hidden {
    pointer-events: none;
  }

  &::before {
    content: "";
    transform: rotate(45deg);
    position: absolute;
    background-color: #2f3542;
    bottom: -7.5px;
    right: 32px;
    height: 15px;
    width: 15px;
  }
}

.form_password_field_hints_list {
  padding-left: 16px;
}

.form_password_field_hint {
  position: relative;
  margin-bottom: 8px;
  color: #fff;

  &:before {
    content: "\e122";
    position: absolute;
    font: var(--fa-font-solid);
    font-size: 0.8em;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
  }

  &.success {
    color: rgba(39, 174, 96, 1);

    &::before {
      content: "\f00c";
    }
  }

  &.error {
    color: rgba(231, 76, 60, 1);

    &::before {
      content: "\f00d";
    }
  }
}

.form_field_label {
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 4px;
  font-weight: 500;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  transition: color 0.225s ease;
}

.form_field {
  position: relative;
  border: 2px solid rgba(83, 82, 237, 0.3);
  background-color: rgba(83, 82, 237, 0.05);
  padding: 8px;
  display: block;
  border-radius: 8px;
  font-size: 0.95em;
  line-height: 1.5;
  width: 100%;
  box-shadow: none;
  transition: background 0.225s ease, border 0.225s ease;

  &:focus-within {
    outline: none;
  }

  &:disabled,
  &[disabled] {
    cursor: default;
    opacity: 0.7;
  }
}

.form_field_toggle_hide {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover:before {
    color: rgb(0, 0, 0, 0.8);
  }

  &::before {
    transition: color 0.225s ease;
    content: "\f06e";
    font: var(--fa-font-solid);
    font-size: 1em;
    color: rgb(0, 0, 0, 0.5);
  }

  &.hidden::before {
    content: "\f070";
  }
}

.save_form_btn {
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 8px;
  border-style: none;
  background: rgba(83, 82, 237, 1);
  color: white;
  cursor: pointer;
}

.custom_form_submit_btn {
  margin: 32px auto 12px auto;
  width: 100%;
  padding: 12px 24px;
  border-radius: 8px;
  border-style: none;
  background-color: rgba(83, 82, 237, 1);
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.225s ease;

  &:disabled,
  &[disabled] {
    cursor: default;
    background: rgba(83, 82, 237, 0.5);
  }
}

@media (max-width: 500px) {
  .form_field_wrapper {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

/*
  Page
*/
.page_content {
  position: relative;
  margin-top: 60px;
  padding: 25px;
  padding-right: 16px;
}

.page_title {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 12px;
  position: relative;
}

/*
 Sweet alert custom classes
*/
.swal_custom_confirm {
  background-color: rgba(83, 82, 237, 1);
  color: white;
}

/*
  Select
*/
.select {
  position: relative;
  display: inline-block;
  padding: 8px 40px 8px 15px;
  border-radius: 8px;
  width: 220px;
  border: 2px solid rgba(83, 82, 237, 0.3);
  background-color: rgba(83, 82, 237, 0.05);
  text-align: left;
  color: #444;
  font-size: 0.95em;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "\f107";
    font: var(--fa-font-solid);
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }

  &.active {
    & .select_options_list {
      opacity: 1;
      visibility: visible;
    }

    &::before {
      content: "\f106";
    }
  }
}

.select_options_list {
  position: absolute;
  z-index: 100;
  top: 140%;
  padding: 8px 0;
  right: 0;
  left: 0;
  border-radius: 8px;
  transition: 0.225s ease;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.select_option {
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: 0.225s ease;
  user-select: none;

  &:hover {
    background: rgba(83, 82, 237, 0.1);
  }

  &:last-of-type {
    border-bottom: none;
  }
}
