/*
  Shared
*/
.navbar_icon_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    background-color: transparent;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.225s ease;

    &.badge {
        &::after {
            content: "\f111";
            font: var(--fa-font-solid);
            position: absolute;
            color: rgba(231, 76, 60, 1);
            font-size: 7px;
            top: 12px;
            right: 12px;
        }
    }

    &:hover,
    &:focus-within {
        outline: none;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

/*
  Sidebar
*/
.sidebar {
    position: fixed;
    width: 65px;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    background: var(--background1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: width 0.225s ease, left 0.225s ease;
    z-index: 100001;

    &.active {
        width: 250px;

        & .sidebar_item {
            width: 232px;
        }
    }
}

.dark .sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.sidebar_header {
    width: 100%;
    background: var(--background1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
}

.app_title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text1);
}

.app_logo {
    color: rgba(83, 82, 237, 1);
    font-size: 1.8em;
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_name {
    margin-left: 12px;
    font-size: 1.4em;
    font-weight: 700;
}

.sidebar_items_children,
.sidebar_items {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8px;
}

.sidebar_items_children {
    padding: 0;
}

.sidebar_item_children_wrapper {
    overflow: hidden;
    height: 0;
    transition: height 0.225s ease;
}

.sidebar_item_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-bottom: 8px;
    cursor: pointer;
}

.sidebar_item {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
    width: 48px;
    white-space: normal;
    font-size: 0.9em;
    text-decoration: none;
    color: var(--text1);
    font-weight: 500;
    border-radius: 8px;
    padding: 2px 4px;
    height: 44px;
    transition: background 0.225s ease;

    &:hover,
    &:focus-within {
        outline: none;
        background-color: rgba(83, 82, 237, 0.3);
    }

    &.child {
        padding-left: 44px;

        & .sidebar_item_name {
            font-weight: 400;
        }
    }

    &_icon {
        min-width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    &_name {
        font-weight: 600;
        margin-left: 12px;
        min-width: max-content;
    }

    &_right_icon {
        margin-left: auto;
        margin-right: 12px;
        font-size: 1.3em;
    }
}

.sidebar_mobile_overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    display: none;
    animation: fadeIn;
    animation-duration: 0.225s;
}

@media only screen and (max-width: 820px) {
    .sidebar {
        left: -65px;

        &.active {
            left: 0;
            width: 250px;
        }
    }

    .sidebar_mobile_overlay {
        display: block;
    }
}

/*
  Navbar
*/
.navbar {
    position: fixed;
    top: 0;
    width: calc(100vw - 65px);
    left: 65px;
    background: var(--background1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.dark .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.navbar_right {
    display: flex;
    align-items: center;
}

.navbar_profile {
    &_btn {
        display: flex;
        align-items: center;
        margin-left: 8px;
        padding: 8px;
        border-radius: 8px;
        transition: background 0.225s ease;
        background-color: transparent;
        border-style: none;
        cursor: pointer;

        &:hover,
        &:focus-within {
            outline: none;
            background-color: rgba(83, 82, 237, 0.3);
        }
    }

    &_picture {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #7bed9f;
        display: none;
    }

    &_name {
        font-size: 1.1em;
        font-weight: 600;
    }

    &_icon {
        margin-left: 10px;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 820px) {
    .navbar {
        left: 0;
        width: 100vw;
    }
}

@media only screen and (max-width: 570px) {
    .navbar_profile {
        &_btn {
            &:hover,
            &:focus-within {
                outline: none;
                background-color: transparent;
            }
        }

        &_name {
            display: none;
        }

        &_picture {
            display: flex;
        }
    }
}
