/*
  Account & App settings page
*/
.settings_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.user_profile_wrapper {
    display: flex;
    flex-direction: column;
}

.app_settings_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.user_profile_picture_wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_profile_picture {
    position: relative;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
    border-radius: 50%;
    background-color: #7bed9f;
    cursor: pointer;
}

.user_profile_picture_edit {
    font-size: 0.6em;
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: rgba(83, 82, 237, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    top: 140px;
    left: 110px;
    cursor: pointer;
}

.app_setting_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.app_setting_title {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 8px;
}

.app_setting_description {
    font-size: 0.9em;
}

.app_setting_selector {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    padding-left: 32px;
    background-color: rgba(83, 82, 237, 0.1);
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;

    &.active {
        background-color: rgba(83, 82, 237, 0.3);
    }
}

.setting_info {
    position: relative;
    display: flex;
    align-items: center;
}

.setting_name {
    font-size: 0.95em;
    font-weight: 500;
}

.setting_radio_btn {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: white;
    left: -16px;
    border-radius: 100%;
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 0px 0px 2px #0066ff;
    box-shadow: 0px 0px 0px 2px #0066ff;
}

.setting_radio_input {
    opacity: 0;

    &:checked + .setting_radio_btn {
        background-color: #0066ff;
    }
}

.language_flag {
    width: 30px;
    height: 30px;
}
